<section class="sidebar-content" style="background-color: #EDEDED;">
  <div class="item">
    <!--
        <span class="caption">Ajouter Assignment</span>
    -->

      <button mat-flat-button style="background-color: #009688;color: white"   (click)="openDialog()">
        Ajouter Devoir
      </button>
  </div>
</section>

<cdk-virtual-scroll-viewport itemSize="50" class="content" #scroller>
  <mat-list *cdkVirtualFor="let a of devoirs">
    <!--
        <a  href="/assignement/{{a._id}}(path:assignements)">
    -->

    <a  routerLink="/assignement/{{a._id}}">

      <section class="sidebar-content">
        <div class="item">
          <img src="https://avatars.dicebear.com/api/human/{{a.user.name }}.svg" alt="avatar" mat-card-avatar>
          <span class="caption">{{a.user.name}}</span>
        </div>

        <div class="sidebar-content__room">
          <span class="sidebar-content__room__name">{{a.title}}</span>
          <span class="sidebar-content__room__last-msg">
          {{a.remarques}}
        </span>
        </div>

        <div class="note" *ngIf="a.type != 'EN ATTENTE'">
          {{a.note}}/20
      </div>

        <div class="status" *ngIf="a.type === 'EN ATTENTE'">
          EN ATTENTE
        </div>
      </section>

    </a>
  </mat-list>
</cdk-virtual-scroll-viewport>
