<section class="chat">
  <div class="chat__header">
    <div class="chat__header__right">
      <button mat-icon-button>
        <mat-icon class="file">attach_file</mat-icon>
        Ajouter un devoir
      </button>
    </div>
  </div>

  <div class="chat__body">
<!--
    <router-outlet></router-outlet>
-->


<!--
    <mat-grid-list cols="1" >
      <mat-grid-tile><app-dash-devoir></app-dash-devoir></mat-grid-tile>
      <mat-grid-tile><app-dash-devoir></app-dash-devoir></mat-grid-tile>
      <mat-grid-tile><app-dash-devoir></app-dash-devoir></mat-grid-tile>
      <mat-grid-tile><app-dash-devoir></app-dash-devoir></mat-grid-tile>
      <mat-grid-tile><app-dash-devoir></app-dash-devoir></mat-grid-tile>
      <mat-grid-tile><app-dash-devoir></app-dash-devoir></mat-grid-tile>
      <mat-grid-tile><app-dash-devoir></app-dash-devoir></mat-grid-tile>
      <mat-grid-tile><app-dash-devoir></app-dash-devoir></mat-grid-tile>
      <mat-grid-tile><app-dash-devoir></app-dash-devoir></mat-grid-tile>
      <mat-grid-tile><app-dash-devoir></app-dash-devoir></mat-grid-tile>
      <mat-grid-tile><app-dash-devoir></app-dash-devoir></mat-grid-tile>
    </mat-grid-list>-->
<!--    <app-dash-devoir></app-dash-devoir>
    <app-dash-devoir></app-dash-devoir>
    <app-dash-devoir></app-dash-devoir>-->
    <app-dash-devoir></app-dash-devoir>
    <app-dash-devoir></app-dash-devoir>
    <app-dash-devoir></app-dash-devoir>

  </div>
</section>
