<mat-card style="display:none;"></mat-card>
<div class="main">
  <header></header>
  <div class="main__body">
    <span *ngIf="isLoggedIn">
<!--
      [routerLink]='[ { outlets: { secondRouter: ["A"] } }]'
-->
      <a href="home(path:assignements)" style="text-decoration:none;color: white">
    <section class="main-container" style="
    height: 35%;
    float: left;
    width: 52px;
    writing-mode: vertical-lr;
    align-items: center;
    font-family: inherit;
    place-content: center;
    background-color: cornflowerblue;
border-bottom-style: groove;">
    Assignments
    </section>
    </a>
<span *ngIf="isAdmin">
    <a href="home(path:etudiants)" style="text-decoration:none;color: white"><section class="main-container" style="
    height: 35%;
    float: left;
    width: 52px;
    writing-mode: vertical-lr;
    align-items: center;
    font-family: inherit;
    place-content: center;
    background-color: darkslategrey;
    color: beige;
    clear: both;border-bottom-style: groove;">

      Utilisateurs

    </section></a>

    <a href="home(path:matieres)" style="text-decoration:none;color: white">
    <section class="main-container" style="
    height: 29%;
    float: left;
    width: 52px;
    writing-mode: vertical-lr;
    align-items: center;
    font-family: inherit;
    place-content: center;
    background-color: cornflowerblue;
    color: beige;
    clear: both;border-bottom-style: groove;">
     Matières
    </section>
    </a>
   </span>
    </span>
    <router-outlet></router-outlet>
    <router-outlet name='path'></router-outlet>
  </div>
</div>
