
<section class="sidebar">
  <div class="sidebar__header">
    <img alt="avatar"
         mat-card-avatar
         src="https://avatars.dicebear.com/api/human/{{user.name }}.svg">
    <div style="margin-right: auto;">{{user.username}}</div>
    <div style="margin-left: auto;" *ngIf="user.groupe">|| {{user.groupe}}</div>
    <div class="sidebar__header__icons">
      <div></div>
      <button [mat-menu-trigger-for]="menu" mat-icon-button>
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="signout()" >Logout</button>
      </mat-menu>
    </div>
  </div>
  <!--  SIDEBAR-->
  <div class="sidebar__search">
    <div class="sidebar__search__content">
      <form #form="ngForm" >
        <button class="sidebar__search__content__icon" mat-icon-button>
          <mat-icon>search_outline</mat-icon>
        </button>
        <input class="sidebar__search__content__input"
               name="search"
               ngModel
               placeholder="Search"
               type="text">

        <button style="display:none;" type="submit"></button>
      </form>
    </div>
  </div>

  <!--class="sidebar__content"-->
  <div style="height: inherit;contain: strict;">
    <ng-container>
<!--
      [routerLink]="[ &ndash;&gt;'/en', <&#45;&#45; {outlets: {side_menu: ['imprint']}}]"
-->
      <router-outlet name="path"></router-outlet>
    </ng-container>
  </div>


</section>
