
<section class="sidebar-content" *ngIf="isAdmin" >
  <div class="item" >
    <button mat-flat-button style="background-color: #009688;color: white"   (click)="openDialog()">
      créer une matière
    </button>
  </div>
</section>

<cdk-virtual-scroll-viewport itemSize="50" class="content" #scroller>
  <mat-list *cdkVirtualFor="let a of matieres">
    <!--
        <a  href="/assignement/{{a._id}}(path:assignements)">
    -->


    <section class="sidebar-content">
      <div class="item">
        <img src="{{a.thumbnail }}" alt="avatar" mat-card-avatar>
        <span class="caption">{{a.name}}</span>
      </div>


      <div class="status" *ngIf="isAdmin">
        <button mat-flat-button style="background-color: #009688;color: white"   (click)="modifDialog(a._id)">
          Actions
        </button>
      </div>
    </section>

  </mat-list>
</cdk-virtual-scroll-viewport>
